form {
    background-color: #fff;
    padding: 10px;
    
}

label {
    display: flex;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
  }


  input[type="number"] {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
  }

  
fieldset {
    width: 360px;
    height: 78px;
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
  }

  fieldset:hover {
    stroke: #000;
  }

  fieldset legend {
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
    
  }

  fieldset label [type="radio"] {
    display: flex;
    flex-direction: row;
  }
  
  button[type="submit"] {
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background-color: #4e75ff;
    font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border: none;
cursor: pointer;
text-align: center;
margin-top: 24px;
  }
  button[type="submit"]:hover {
    background-color: #6c8cff;
  }

  